@import "../base/variables";

.header {
	height: 100vh;
	background: url(/images/header-bg.png) no-repeat;
	background-size: cover;
}
nav {
	display: flex;
	justify-content: space-between;
	color: white;
	padding-top: 20px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;

	ul {
		justify-content: space-between;
		display: flex;
		padding-top: 20px;
    	padding-left: 0;
	}
	li {
		margin: 0 40px;

		&:hover {
			color: $primary;
		}
	}
}
.logotype {
	padding-top: 35px;
	position: relative;

	&::before {
		content: '';
		border: 1px solid rgba(255,255,255,.2);
		width: 650px;
		position: absolute;
		right: 160px;
		top: 110px;
	}
	&::after {
		content: '';
		border: 1px solid rgba(255,255,255,.2);
		width: 650px;
		position: absolute;
		left: 160px;
		top: 110px;
	}
}
.hungry {
	display: flex;
	justify-content: space-between;
	margin-top: 100px;

	span {
		transform: rotate(180deg);
		writing-mode: tb-rl;
	}
}
.round {
	width: 60px;
	height: 60px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	margin-bottom: 15px;
	display: flex;
    align-items: center;
    justify-content: center;

}
.social {
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.restaurant {
	text-transform: uppercase;
	text-align: center;
	margin-top: 40px;
	position: relative;

	&::before {
		content: '';
		border-bottom: 4px solid $primary;
		width: 60px;
		color: $primary;
		position: absolute;
		top: 57%;
    	left: calc(398px - 30px);
	}

	p {
		letter-spacing: 0.5em;
		font-size: 12px;
		font-weight: bold;
	}
	h1 {
		margin-top: 18px;
	}
}
.secondary-btn {
	margin-left: 40px;
	border-style: solid;
}

.pulse {
	padding: 160px 0;
}
.scroll-btn {
	border-radius: 50%;
	background-color: white;
	background-image: url(/images/icons/arrow.png);
	background-repeat: no-repeat;
	background-position: center;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0px auto ;
    display: flex;
    border: none;
    position: relative;

    &::before {
    	content: '';
    	border: 1px solid white;
    	position: absolute;
    	width: 50px;
    	height: 50px;
    	border-radius: 50%;
    	left: 0;
    	right: 20px;
    	bottom: -6px;
    	left: -6px;
    	animation: pulse 1.3s linear infinite;
    }
}
@keyframes pulse {
	0% {
		transform: scale(.5);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1.2);
		opacity: 0;
	}
}