@font-face {
	font-family: "Open Sans";
	src: url("../src/fonts/OpenSans-Regular.ttf") format("opentype");
}
@font-face {
	font-family: "Banny";
	src: url("../src/fonts/Banny-BoldRound.otf") format("opentype");
}
$secondary-font: Banny;
$primary-font: Open-Sans, sans-serif;

