@import "base/normalize";
@import "base/fonts";
@import "base/variables";
@import "base/mixins";

* {
	box-sizing: border-box;
	background: transparent;
}

body {
	font-family: $primary-font;
	color: white;
}

section {
	
}
.container {
	max-width: 1280px;
	margin: 0 auto;
}
li {
	list-style-type: none;
	cursor: pointer;
}
h1 {
	font-family: "Banny";
	font-size: 96px;
	text-transform: uppercase;
}
h2 {
	font-family: "Banny";
	font-size: 36px;
	text-transform: uppercase;
	position: relative;

	&::before {
		content: '';
		border: 4px solid $primary;
		border-radius: 50px;
		position: absolute;
		width: 60px;
		bottom: -10px;
		left: calc(50% - 30px);
	}

}
button {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	border-radius: 5px;
	padding: 23px 61px;
}
.primary-btn {
	background-color: $primary;
	border-style: none;
}
.content-picture {
	position: relative;

	&::before {
		content: '';
		width: 250px;
		height: 250px;
		border: 20px solid #E8C300;
		box-sizing: border-box;
		box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
		border-radius: 5px;
		position: absolute;
		right: -80px;
		top: 110px;
	}
	

	img {
		width: 475px;
	}
}
@import "layouts/header";
@import "layouts/about-us";



