@import "base/normalize";
@import "base/fonts";
@import "base/variables";
@import "base/mixins";

* {
	box-sizing: border-box;
	background: transparent;
}

body {
	font-family: $primary-font;
	color: white;
}

section {
	
}
.container {
	max-width: 1280px;
	margin: 0 auto;
}
li {
	list-style-type: none;
	cursor: pointer;
}
h1 {
	font-family: "Banny";
	font-size: 96px;
	text-transform: uppercase;
}
button {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	border-radius: 5px;
	padding: 23px 61px;
}
.primary-btn {
	background-color: $primary;
	border-style: none;
}
@import "layouts/header";



